.card-container {
  width: 250px;
  background-color: white;
  border: 3px solid #5E5DF0;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.card-id {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 3px;
  font-family: monospace;
}

.card-title {
  font-family: "Nunito", sans-serif;
  display: inline;
  font-size: 1.5rem;
}

.card-author, .card-pages, .card-copies{
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
.card-container:hover {
  background-color: #5E5DF0;
}